body {
            font-family: 'Noto Sans Bengali';
/*ред         background-color: #f5f5f5;  */
            background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
            color: #333;
            margin: 0;
            padding: 20px;
        }
        h2 {
    font-family: 'Noto Sans Bengali', sans-serif;
    font-weight: 700; /* Bold style */
}

p {
    font-family: 'Noto Sans Bengali', sans-serif;
    font-weight: 400; /* Regular style */
}

                /* Header styles */
.header {
    padding: 20px 0px;
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .home-icon img,
.header .threeline-icon img {
    width: 32px;
    height: 32px;
}

.header .h1-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.home-icon, 
.threeline-icon {
    cursor: pointer;
}

        h1 {
            font-size: 2em;
            color: #000;
            text-align: center;
            margin-bottom: 20px;
        }


/* Footer styles */
.footer {
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
